@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600,700,800%7CWork+Sans:300,400,500,600,700,800,900%7CQuicksand');

/*   H T M L  T A G S   */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h1 {

  font-family: 'Eczar', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1px;

}

h2 {

  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: white;

}

h3 {

  font-family: 'Eczar', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  padding: 30px 0px;

}

h4 {

}

h5 {

    font-family: 'Eczar', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #f7316a;
    text-decoration: none

}

/*   I D S   */

#logout {

  display: none;

}

/*   C L A S S E S   */

/*   C O M P O N E N T S   */

/*   Nav Bar    */

nav {

  position: fixed;
  display: flex;
  top: 0;
  background-color: #F0525A;
  padding: 20px 30px;
  color: white;
  width: 100%;
  z-index: 10;
  transition: top 0.2s ease-in-out;

}

nav ul {

  position: absolute;
  right: 80px;

}

nav ul li {

  display: inline-flex;
  position: relative;
  margin-top: 10px;
  padding: 0px 20px;
  text-transform: uppercase;

}

nav a {

  text-decoration: none;

}

nav a h4 {

  font-family: 'Eczar', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;

}

nav button {

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  border-radius: 40px;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 20px;
  float: left;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

}

nav button:hover, button:active {

  color: #E87658;
  background: #fff;

}

.nav-up {
    top: -80px;
}

#authentication {

  float: right;
  width: 200px;
  right: 90px;
  position: absolute;

}

#authentication a {

  margin: auto;

}

#authentication #userImage {

  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: right;

}

button {

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  border-radius: 40px;
  border: 1px solid #fff;
  color: #fff;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

}

button:hover, button:active {

  color: #E87658;
  background: #fff;

}


/*   Hero   */

#hero-signup {

  padding: 175px 15% 100px 15%;
  background: linear-gradient(320deg, #f3694a, #fcc5b1);
  background-size: 400% 400%;

  -webkit-animation: hero-signup-bkg 10s ease infinite;
  -moz-animation: hero-signup-bkg 10s ease infinite;
  -o-animation: hero-signup-bkg 10s ease infinite;
  animation: hero-signup-bkg 10s ease infinite;

}

#hero-signup-copy {

  margin: 0 auto;
  text-align: center;
  color: white;

  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}

#hero-signup-copy:hover {

  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);

}

#hero-signup-copy h1 {

  font-family: 'Eczar', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/*   Posts   */

.posts-container-main {

  background-color: #F2F2ED;
  text-align: center;

}

.posts-container-main h1 {

  padding: 40px 0px 10px 0px;

}

.posts-list-items {

  /*display: flex;*/
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  min-height: 800px;
  padding: 20px;

}

.post-card {
  
  display: inline-grid;
  margin: 15px;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.post-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.12);
}

.post-image {
  
  display: flex;

}

.post-image img {
  
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;

}

.post-info {

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
  width: 400px;
  padding: 0px;
  text-transform: none;
  margin-top: -80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


}

.post-info-user {

  padding: 30px 0px 20px 55px;
  text-align: left;

}

.post-info-profile {

  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(35%, -25%);

}

.post-card h3 {

  font-size: 1.5rem;
  margin-top: -20px;
  margin-bottom: -8px;
  width: 1fr;
  padding: 0px;
  text-align: left;
  
}

.post-card h4 {
  
  font-size: .9rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 0px;

}

.post-card h5 {

  font-size: 1rem;
  padding: 0px 20px 0px 0px;
  transform: translateY(30%);

}

/*   Footer   */

footer {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #0F1B3D;
  padding: 100px 0px;
  bottom: 0;
  color: white;
  margin: 0 auto;
}

footer div, li, p {

  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  text-decoration: none;
  color: white;
  font-family: 'Eczar', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0px 10px 10px 10px;
  margin: 0 auto;

}

footer a {

  text-decoration: none;
  color: white;
  font-family: 'Eczar', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;

}

#footer-list {
  width: 2fr;
}

#footer-blurb {
  width: 1fr;
}

/*   A N I M A T I O N   */

/*   Hero Background Gradient   */

@-webkit-keyframes hero-signup-bkg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes hero-signup-bkg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes hero-signup-bkg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes hero-signup-bkg { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

